<div class="car">
  <h1>{{car.brand}} {{car.model}}</h1>

  <img src={{car.image}} alt={{car.model}}>

  <p>{{car.description}}</p>
  <p class="price big">{{car.price}}</p>
  <p>{{car.email}}</p>
</div>